@font-face {
	font-family: 'delightful';
	src:url('fonts/delightful.eot?-2u04pu');
	src:url('fonts/delightful.eot?#iefix-2u04pu') format('embedded-opentype'),
		url('fonts/delightful.woff?-2u04pu') format('woff'),
		url('fonts/delightful.ttf?-2u04pu') format('truetype'),
		url('fonts/delightful.svg?-2u04pu#delightful') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="dlf-"], [class*=" dlf-"] {
	font-family: 'delightful';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dlf-image:before {
	content: "\e600";
}
.dlf-images:before {
	content: "\e601";
}
.dlf-camera:before {
	content: "\e602";
}
.dlf-tags:before {
	content: "\e603";
}
.dlf-envelope:before {
	content: "\e61c";
}
.dlf-pushpin:before {
	content: "\e604";
}
.dlf-location:before {
	content: "\e61d";
}
.dlf-location2:before {
	content: "\e605";
}
.dlf-compass:before {
	content: "\e606";
}
.dlf-clock:before {
	content: "\e607";
}
.dlf-clock2:before {
	content: "\e608";
}
.dlf-calendar:before {
	content: "\e61e";
}
.dlf-bubble:before {
	content: "\e61f";
}
.dlf-bubble2:before {
	content: "\e620";
}
.dlf-spinner:before {
	content: "\e609";
}
.dlf-search:before {
	content: "\e60a";
}
.dlf-cog:before {
	content: "\e60b";
}
.dlf-cog2:before {
	content: "\e621";
}
.dlf-bug:before {
	content: "\e60c";
}
.dlf-remove:before {
	content: "\e60d";
}
.dlf-switch:before {
	content: "\e60e";
}
.dlf-numbered-list:before {
	content: "\e622";
}
.dlf-menu:before {
	content: "\e623";
}
.dlf-cloud-download:before {
	content: "\e60f";
}
.dlf-cloud-upload:before {
	content: "\e610";
}
.dlf-download:before {
	content: "\e624";
}
.dlf-upload:before {
	content: "\e625";
}
.dlf-link:before {
	content: "\e626";
}
.dlf-star:before {
	content: "\e611";
}
.dlf-heart:before {
	content: "\e612";
}
.dlf-heart2:before {
	content: "\e613";
}
.dlf-info:before {
	content: "\e627";
}
.dlf-info2:before {
	content: "\e628";
}
.dlf-close:before {
	content: "\e629";
}
.dlf-checkmark:before {
	content: "\e614";
}
.dlf-checkmark2:before {
	content: "\e615";
}
.dlf-pause:before {
	content: "\e616";
}
.dlf-arrow-up:before {
	content: "\e62a";
}
.dlf-arrow-right:before {
	content: "\e62b";
}
.dlf-arrow-down:before {
	content: "\e62c";
}
.dlf-arrow-left:before {
	content: "\e62d";
}
.dlf-arrow-up2:before {
	content: "\e62e";
}
.dlf-arrow-right2:before {
	content: "\e62f";
}
.dlf-arrow-down2:before {
	content: "\e630";
}
.dlf-arrow-left2:before {
	content: "\e631";
}
.dlf-checkbox-checked:before {
	content: "\e617";
}
.dlf-mail:before {
	content: "\e618";
}
.dlf-facebook:before {
	content: "\e619";
}
.dlf-instagram:before {
	content: "\e61a";
}
.dlf-twitter:before {
	content: "\e61b";
}
.dlf-menu2:before {
	content: "\e636";
}
.dlf-arrow-left3:before {
	content: "\e632";
}
.dlf-arrow-down3:before {
	content: "\e633";
}
.dlf-arrow-up3:before {
	content: "\e634";
}
.dlf-uniE635:before {
	content: "\e635";
}
.dlf-folder-open2:before {
	content: "\f123";
}
.dlf-folder-open-o:before {
	content: "\f1a6";
}
.dlf-star14:before {
	content: "\f01c";
}
.dlf-star-o:before {
	content: "\f01d";
}
.dlf-th-large2:before {
	content: "\f022";
}
.dlf-chain:before {
	content: "\f157";
}
.dlf-unsorted:before {
	content: "\f171";
}
.dlf-angle-left:before {
	content: "\f196";
}
.dlf-angle-right:before {
	content: "\f197";
}
.dlf-angle-up:before {
	content: "\f198";
}
.dlf-angle-down:before {
	content: "\f199";
}
.dlf-sort-alpha-asc:before {
	content: "\f1e8";
}
.dlf-sort-alpha-desc:before {
	content: "\f1e9";
}
.dlf-sort-numeric-asc:before {
	content: "\f1ec";
}
.dlf-sort-numeric-desc:before {
	content: "\f1ed";
}
