# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#Crashlytics
#Crashlytics.framework
crashlytics-code
PhotoBox/Crashlytics.plist

#CocoaPods
Pods

#Lookback
PhotoBox/Lookback.plist

#Facebook
PhotoBox/facebook-app-id

#Vagrant
.vagrant

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output

build
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/fastlane/Deliverfile
/fastlane/Matchfile
/fastlane/Appfile
/fabric_api_key
/d_o_key
