<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundImage</key>
	<string>intro0.0.5.jpg</string>
	<key>panels</key>
	<array>
		<dict>
			<key>title</key>
			<string>What&apos;s New in 0.0.5</string>
			<key>description</key>
			<string>1. Timeline is shown first.
2. Tags!
3. Albums and tags are now hidden behind the Photos screen. Guess where they are. :)
4. Pinch in and out in Photos screen to see more or less photos.</string>
			<key>image</key>
			<string></string>
			<key>header</key>
			<dict>
				<key>type</key>
				<string>view</string>
				<key>value</key>
				<string>VersionNumberHeaderView</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Delightful</string>
			<key>description</key>
			<string>Hello guys and girls!

How are you all doing? It’s been a while since the last update, busy with day job :) Some new things in this update and there are still some cool things I want to add to Delightful.

Anyway, how do you find the app so far? Like it? Hate it? Need improvement? Let me know, please. Reach me on Twitter @nicnocquee or simply reply to TestFlight email.

Cheers,
Nico</string>
			<key>image</key>
			<string></string>
			<key>header</key>
			<dict>
				<key>type</key>
				<string>view</string>
				<key>value</key>
				<string>UIView</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
