<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundImage</key>
	<string>introbg.jpg</string>
	<key>panels</key>
	<array>
		<dict>
			<key>title</key>
			<string>What&apos;s New in 0.0.3</string>
			<key>description</key>
			<string>1. Fix the sorting behaviour to follow the default API’s behaviour.
2. Fix crashes when browsing photos in album or All Photos page. (Hopefully)</string>
			<key>image</key>
			<string></string>
			<key>header</key>
			<dict>
				<key>type</key>
				<string>view</string>
				<key>value</key>
				<string>VersionNumberHeaderView</string>
			</dict>
		</dict>
		<dict>
			<key>class</key>
			<string>SharePanel</string>
			<key>title</key>
			<string>Spread the word</string>
			<key>description</key>
			<string>I&apos;m still looking for Trovebox users who want to try this app. Could you please share to your friends via email, Facebook, Twitter, or SMS? 
Thanks a lot!
Nico</string>
			<key>image</key>
			<string></string>
			<key>header</key>
			<dict>
				<key>type</key>
				<string>view</string>
				<key>value</key>
				<string>UIView</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
